<script type="text/javascript">
    $(function () {
        function EndpointsMenuViewModel() {
            var self = this;

            //Properties
            self.projectEndpoints = ko.observableArray([]);
            self.IsCloneVisible = ko.observable(false);

            App.Variables.activePageViewModel.id.subscribe(function (newValue) {
                if (newValue != null && newValue != "") {
                    self.IsCloneVisible(true);
                }
                else {
                    self.IsCloneVisible(false);
                }
            });

            self.EndpointObject = function (id, shortName, url, selectedClass, isDeleteChecked) {
                this._id = id;
                this.shortName = shortName;
                this.url = url;
                this.selectedClass = ko.observable(selectedClass);
                this.isDeleteChecked = ko.observable(isDeleteChecked);
            }

            //Functions
            self.init = function () {
                App.ProjectEndpoints.FindAll(App.Variables.ActiveProjectID).then(function (projects) {
                    if (projects.length > 0) {
                        $(projects).each(function (index, project) {
                            var shortName = "";
                            var pos = project.url.lastIndexOf("/");
                            var startText = project.url.substring(0, pos);
                            shortName = project.url.replace(startText, "");

                            self.projectEndpoints.push(new self.EndpointObject(
                                project._id,
                                shortName,
                                project.url,
                                '',
                                false
                            ));
                        });
                    }
                });
            }

            //Events
            self.HomeClick = function (project, event) {
                App.NavigateHome();
            }
            self.BackClick = function (project, event) {
                App.PageManager.LoadPage('project_details');
            }
            self.EndpointClick = function (project, event) {
                //Remove slection
                $(self.projectEndpoints()).each(function (index, endpoint) {
                    endpoint.selectedClass('');

                    if(endpoint._id == project._id)
                    {
                        endpoint.selectedClass('selected');
                    }
                });

                //Load endpoint
                App.Variables.activePageViewModel.LoadEndpoint(project._id);
            }
            self.NewClick = function (project, event) {
                $(self.projectEndpoints()).each(function (index, endpoint) {
                    endpoint.selectedClass('');
                });
                App.Variables.activePageViewModel.addNew();
            }
            self.DeleteMClick = function (project, event) {
                $(self.projectEndpoints()).each(function (index, endpoint) {
                    endpoint.isDeleteChecked(false);
                });

                //Show delete dialog
                App.Variables.activePageViewModel.DeleteMClick(self.projectEndpoints());
            }
            self.CloneClick = function (project, event) {
                App.Variables.activePageViewModel.CloneEndpointClick();
            }

            //Load View Model
            self.init();
        }

        ko.applyBindings(new EndpointsMenuViewModel(), document.getElementById("endpointsMenu"));
    });
</script>
<div id="endpointsMenu">
    <ul class="nav sidebar-nav nav-pills nav-stacked">
        <li>
            <a href="#" data-bind="click:HomeClick"><span class="fa fa-home fa-fw"></span> Home</a>
        </li>
        <li>
            <a href="#" data-bind="click:BackClick"><span class="fa fa-undo fa-fw"></span> Back to Project</a>
        </li>
        <li>
            <a href="#" data-bind="click:NewClick"><span class="fa fa-star fa-fw"></span> Add New Endpoint</a>
        </li>
        <li>
            <a href="#" data-bind="click:DeleteMClick"><span class="fa fa-times fa-fw"></span> Delete Multiple</a>
        </li>
        <li data-bind="visible: IsCloneVisible">
            <a href="#" data-bind="click:CloneClick"><span class="fa fa-files-o fa-fw"></span> Clone Endpoint</a>
        </li>
        <li class="subHeading">
            Select Endpoint
        </li>
        <li class="submenuItems">
            <ul id="projectEndpoints" data-bind="foreach: projectEndpoints">
                <li data-bind="attr:{ title: url, class: selectedClass}">
                    <a href="#" data-bind="click: $parent.EndpointClick"><span class="fa fa-circle fa-fw"></span><span data-bind="text: shortName"></span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>